# Project
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

# Temp files
.~*
*~
*.orig
node_modules

# Eclipse
.scala_dependencies
.buildpath
.cache
.target
bin/

# Mac
.DS_Store
